@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lobster', cursive;

}

h1{
  margin: 0;
  font-size: 4em;
  text-align: center;
  color: transparent;
  font-weight: normal; /* Grueso del texto*/
  background: linear-gradient( 120deg, yellow, red);/* deg es la inclinacion  */
  -webkit-background-clip:text; /*Proìedad para intercambien el fondo*/
  /*text-shadow: 2px 2px #000; */ /* Sombreado*/
  position: relative;
}
h1::after{
  content: "Texto con fondo degradado";
  position: absolute;
  width: 100%;
  top:3px;
  left: 3px;
  color: black;
  z-index: -1;
}
