@import url(http://fonts.googleapis.com/css?family=Righteous);

body{
  background: #dc4532;
  color: #fff;
  font-family: Righteous;
  height: 100vh;
  margin: 0;
}
h1{
  font-weight: normal;
  padding: : 1em 0;
  text-align: center;
  margin: 0;
}

.menu-principal,
.menu-secundario{
    box-sizing: border-box;/* Coloca el borde interno */
    width: 50%;
    margin: 1em auto;
    font-size: 1.2em;
    position: relative;
    cursor: pointer;
    /* background-color: rgba(0,0,0,0.5); */
}
.menu-principal::before,
.menu-secundario::before{
    content: "";
    display: block;
    height: .2em;
    background: #fff;
    position: absolute;
    left: 0;
    top: .1em;
    box-shadow: 0 0.4em, 0 0.8em;
}

.menu-principal{

  padding-left: 2em;
}
.menu-principal::before{
  width: 1.6em; /* Tamaño de la hamburguesa*/
}

.menu-secundario{
  padding-left: .9em;
}
.menu-secundario::before{
  width: .2em;
  border-radius: 50%;
}
