/*
*************************************
        | COLORS
*************************************
*/
:root {
  --blue-navy: #05205D;
  --blue-light: #3155A7;
  --brown-leather: #AB987A;
  --orange-coral: #2196f3;
  --white-egg: #F5F5F5;
}


/*
*************************************
        | HEADER
*************************************
*/
body{
  transition: all 0.7s ease;
}
.header-area .main-menu,
.header-area .main-menu, .dropdown-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.01)),var(--orange-coral);
  box-shadow: 0 3px 16 0 rgba(0, 0, 0, .1);
}
.header-area .main-menu .navbar {
  height: 70px;
}
.header-area .main-menu .navbar .nav-link {
  font-size: 14px;
  color: var(--white-egg);
  padding: 8px;
}
.header-area .main-menu .navbar .nav-link:hover {
  font-weight: 600;
}

.main-info .social-mw a {
  font-size: 30px;
  text-decoration: none;
  padding: 5px;
  transition: all 0.5s ease;
 
}

.main-info .social-mw i{
  transition: all 0.7s ease;
}
.main-info .social-mw i:hover {
transform: scale(1.2);
transition: all 0.5s ease;
}

img {
  border-radius: 5px;
}

.main-info {
  position: relative;
  z-index: 1;
  padding-bottom: 42px;
  margin-bottom: 58px;
}
.main-info .container {
  border-radius: 12px;
  position: relative;
  bottom: -100px;
  background: #fff;
  padding-top: 28px;
  padding-bottom: 28px;
  box-shadow: 0 20px 80px 0 rgba(153, 153, 153, .3);
}
.main-info .container .img-col .img-container > img {
  width: 90%;
  height: 80%;
}
.img-container::before{
background-color: #2196f3;
width: 90%;
  height: 80%;
}


.main-info .container .txt-col .text-container {
  margin: 20px auto 0 auto;
  width: 90%;
}
.main-info .container .txt-col .text-container h4 {
  font-size: 16px;
}
.main-info .container .txt-col .text-container p {
  font-size: 16px;
  color: var(--brown-leather);
  margin-bottom: 20px;
}
.main-info .container .txt-col .text-container ul.basic-info {
  padding-left: 0;
}
.main-info .container .txt-col .text-container ul.basic-info > li {
  margin-bottom: 8px;
}
.main-info .container .txt-col .text-container ul.basic-info > li > i{
  margin-right: 10px;
    color: var(--blue-navy);
    font-size: 20px;
}
.main-info .container .txt-col .text-container ul.social-nw {
  padding-left: 0;
}
.main-info .container .txt-col .text-container ul.social-nw > li {
  margin-right: 20px;
}
.main-info .container .txt-col .text-container ul.social-nw > li i{
  font-size: 40px;
  color: var(--blue-navy);
}

.typing{
  position: relative;
}
.typing::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 35px;
  border-right: 2px solid white;
  animation: blink 0.5s infinite ease;
}
@keyframes blink{
  0%{
       opacity: 0;
  }
  100%{
      opacity: 1;
  }
}



/*
*************************************
        | SKILLS
*************************************
*/

.skills-item{
margin-bottom: 24px;
}

.skills-item .text{
  margin-bottom: 8px;
  margin-top: 10px;
}

.skills-item .progress .progress-bar{
  height: 10px;
border-radius: 5px;
vertical-align: middle;
align-self: center;

}

/*
*************************************
        | section porfolio
*************************************
*/

.card-container .card{
  max-width: 360px;
  height: 360px;
  margin-top: 16px;
  padding: 20px;
}

.card-container .card i{
 font-size: 80px;
 color: var(--blue-navy)
}
.card-container .card h5{
  margin-top: 12px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.sect-title{
  line-height: 2.5
}

.card{
  margin-bottom: 20px;
}

/*
*************************************
        | section footer
*************************************
*/

footer{
  height: 50px;
  /*background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.4)), var(--orange-coral);*/
}