/*
*************************************
        | COLORS
*************************************
*/
:root {
    --gray-light: #f4f5f9;
   
    --white-egg: #F5F5F5;
    --white: #fff;
  }
  
  $gray-medio: #797979;
  $white-egg:#F5F5F5;
  $gray-primary: #6a6a6a;
  $gray-light: #f4f5f9;
  $orange-primary: #e74c3c;
body{
  color:$gray-medio;
}
  .p-tb {
    padding: 85px 0px 105px 0px ;
  }


  h4 {
    font-family: 'open_sanssemibold';
    font-size: 1.286rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
  h3 {
    font-family: 'source_sans_proregular';
    font-size: 1.714rem;
    line-height: 2.5rem;
    color: #fff;
  }

  h2 {
    font-family: 'source_sans_probold';
    font-size: 2.571rem;
    line-height: 3rem;
    text-transform: uppercase;
  }

  h1, h2, h3 {
    font-weight: 300;
    margin: 0;
  }
  
  h1 {
    font-family: 'open_sansbold';
    font-size: 5.143rem;
    line-height: 5.5rem;
    color: #fff;
    letter-spacing: .4rem;
  }

  p{
    font-family: 'source_sans_proregular';
  }

  a:hover{
    text-decoration: none;
    color: $white-egg;
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 0.8125rem;
    border-radius: 0px;
    margin-top: 20px;
    transition: .5s;
    border: 1px solid #e74c3c;
    font-family: 'open_sansbold';
    padding: 0.8rem 3rem;
    transition: all 0.6s;
    border-radius: 2px;
  }
  .btn:hover{
    color: #fff;
    transform: scale(1.001);
    font-size: 0.8925rem;
  }

  .btn-secon{
    border: 1px solid #fff;
  }
  .btn-secon:hover{
    background: $orange-primary;
    color: #fff;
  }

  .btn-prima{
    background: $orange-primary;
  }


.separador{
  background: $orange-primary;
  width: 10px;
  height: 10px;
  margin: 20px auto;
  border-radius: 50%;
  position: relative;
}
.separador::after{
content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  background: #F5F5F5;
  top:5px;
  left: 20px;
}
.separador::before{
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  background: #F5F5F5;
  top:5px;
  right: 20px;
}

.separador2{
  margin: 10px 50px;
  width: 50px;
  height: 3px;
  background: $white-egg;
}

.separador3{
  width: 45px;
  height: 2px;
  margin: 20px auto;
  background: #6a6a6a;
}
  /*
*************************************
        | HEADER
*************************************
*/
.header-area .main-menu,
.header-area .main-menu, .dropdown-menu {
  //background: $gray-primary;
  box-shadow: 0 3px 16 0 rgba(0, 0, 0, .1);
}
.header-area .main-menu .navbar {
  height: 70px;
}
.header-area .main-menu .navbar .nav-link{
  font-size: 14px;
  color: var(--white-egg);
  padding: 20px;
}
.header-area .main-menu .navbar .nav-link:hover {
    font-weight: 600;
    color: $orange-primary;
    box-shadow: 0 -1px inset;   
}

.header-area .main-menu .navbar .nav-link:hover {
    font-weight: 600;
    color: $orange-primary;
    box-shadow: 0 -1px inset;   
}


.logo{
    position: relative;
    border: 1px solid var(--white-egg);
    font-size: 25px;
    color: var(--white-egg);
    padding: 8px;
    box-shadow: 35px 0px inset;
}
header p {
    line-height: 90%;
    margin-top: 0;
    margin-bottom: 0rem;
    letter-spacing: 7px;
    color: black;
    //font-weight: 600;
}

header span{
    color: var(--white-egg);
}

/*
*************************************
        | MAIN-BANNER
*************************************
*/

.main-banner{
  background: url(../recursos/img/Background.png) no-repeat center center;
  height: 100vh;
  background-size: cover;
  position: relative;
  
}
.home{
  height: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  display: block;
  color: white;
  
}
.scrooldown{
  position: absolute;
  right: 48%;
  bottom: -10px;
  width: 40px;
  height: 40px;;
  border-radius: 50%;
  background:whitesmoke;
  cursor: pointer;
}
.scrooldown a{
  font-size: 25px;
  color: $orange-primary;
}

.text-home p {
  color: #fff;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.125rem;
}


 /*
*************************************
        | Feature
*************************************
*/

.icon-feature{
  //border: 1px solid lightgrey;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 20px auto;
  
 position: relative;
}
.icon-feature::before{
  content: "";
  position: absolute;
  border: 1px solid lightgrey;
  height: 100%;
  width: 100%;
  right: 0;
  transition: all 1s;
}
.icon-feature:hover::before{
  
  transform: rotate(45deg);
  border: 1px solid $orange-primary;
}
.icon-feature i{
  color: $orange-primary;
}

.whoweare p {
  padding: 10px;
  line-height: 2rem;
  font-size: 0.875rem;
  font-family: 'open_sanssemibold';
}


 /*
*************************************
        | section history
*************************************
*/
.title-history{
  border-left: 6px solid $orange-primary;
  padding: 0 30px;
  margin-bottom: 70px;
}


 /*
*************************************
        | section services
*************************************
*/

.services{
  background: #202020;
  position: relative;
}
.services .img-services{
  position: absolute;
  color: $orange-primary;
  width: 60px;
  height: 60px;
  border: 5px solid $gray-medio;
  border-radius: 50%;
  font-size: 30px;
  background: $white-egg;
  left: 100%;
  z-index: 1;
}
.services .img-services i{
  margin: 10px;
}

.services h2{
  color: $white-egg;
  margin-top: 30px;

}
.services h4{
  color: $orange-primary;
}
.services p{
  color: $gray-medio;
  font-family: 'source_sans_proregular';
  line-height: 2rem;
  font-size: 0.875rem;
  padding-bottom: 30px;
}

.services img{
  width: 100%;
  height: 100%;
}

.title-services{
  border-right: 6px solid $orange-primary;
  padding: 0 30px;
  margin-bottom: 50px;
}


/*
*************************************
        | section porfolio
*************************************
*/

.porfolio{
  color: $gray-medio;
}
.porfolio h2{
  padding-bottom: 25px;
}

.img-porfolio{
  width: 100%;
  flex-wrap: wrap;
  padding-top: 85px;
  padding-bottom: 105px;
}
.img-porfolio img{
  width: 25%;
  height: 330px;
}
.links-porfolio{
  width: 100%;
  text-align: center;

}

.links-porfolio a{
  text-align: center;
  color: $gray-medio;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
  font-family: 'montserratregular';
  font-size: 0.8125rem;
  letter-spacing: 1px;
}
.links-porfolio a::after{
  content: "/";
  margin-left: 30px;
}


/*
*************************************
        | section case study
*************************************
*/
.case-study{
  padding-bottom: 85px;
}
.case-study h2{
  color: $gray-medio;
}

.case.study p{
  color: $gray-medio;
  font-family: 'source_sans_proregular';
  line-height: 2rem;
  font-size: 0.875rem;
  padding-bottom: 30px;
}

.icon-case{
  height: 120px;;
  position: relative;
  line-height: 5;
  color: white;
  font-size: 18px;
}
.icon-case::before{
  content: "";
  position: absolute;
  left: 45%;
  top: 15%;
  width: 60px;
  height: 60px;
  background: $orange-primary;
  z-index: -1;
  transform: rotate(45deg)
}
.case-study p{
  color: $gray-medio;
  font-family: 'source_sans_proregular';
  line-height: 2rem;
  font-size: 0.875rem;
  padding: 20px 100px;
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color:$gray-medio;
}
.carousel-indicators .active {
  background-color:$orange-primary;
}
.carousel-indicators {
  bottom: -40px;
}
.img-case{
  position: relative;
}
.cases{
  background: $white-egg;
  position: absolute;
  padding: 50px 0;
  width: 600px;
  height: 600px;
  right: -15%;
  top: 75px;
  z-index: 3;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, .2);
}

/*
*************************************
        | section status
*************************************
*/

.status{
    background: url(../recursos/img/PutYourImage3.png) no-repeat center center;
    height: 350px;
    background-size: cover;
   
}
.rect h2{
  color: $white-egg;
}

.rect{
  width: 15%;
}
.icon-rect{
  margin: auto;
  border: 1px solid $white-egg;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 30px;
  line-height: 2.2;
  color: $white-egg;
  margin-bottom: 30px;
}
.rect p{
  color: $white-egg;
  font-family: 'source_sans_proregular';
  line-height: 2rem;
  font-size: 0.775rem;
}


/*
*************************************
        | section pricing
*************************************
*/

.princing .separador{
margin-bottom: 70px;
}

.cards {
  margin: 0 auto;
  padding: 0 20px;
}
.card {
  max-width: 400px;
  position: relative;
  background: $gray-light;
  z-index: -2;
}

.card::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: rgba($gray-medio, 0.7);
  z-index: -1;
}
.premiun .card::before{
  background: $orange-primary;
}

.precio {
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-radius: 50%;
  border: 1px solid rgba($gray-medio, 0.2);
  box-shadow: 0px 0px 0px 10px rgba(244,245,249,0.3);
  background: white;
  transition: all 1s;
}
.precio:hover{
  transform: scale(1.1);
}
.precio h2{
  margin-top: 30px;
}
.premiun .precio h2{
  color: $orange-primary;
}
.precio p{
  font-size: 0.941rem;
}

.card .card-text{
  line-height: 33px;

}





/*
*************************************
        | section team
*************************************
*/
.team-first{
  background: url("../recursos/img/team.png");
}
.main-team{
  padding: 85px 40px 60px 50px;

}

.main-team ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-team ul li {
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  font-size: 12px;
  font-family: 'open_sanssemibold';
}
.img-team img{
  box-shadow: 0px 0px 0px 5px rgba($orange-primary,0.8);
  border-radius: 50%;
  margin-bottom: 30px;
  cursor: pointer;
}
.text-team h4{
  color: $orange-primary;
  text-transform: none;
}
.text-team{
  transition: all 1s ease;
  display: none;
  position: relative;

}
.img-team:hover + .text-team{
  transition: all 1s ease;
  position: absolute;
  display: block;

}

.others p{
  margin: 20px 0px 20px 0px;
  font-size: 0.941rem;
}
.others .img-others{
  max-width: 280px;
  height: 100px;
  
  margin: 10px;
  border: 1px solid $gray-light;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.25);
}

.others .img-others .inner {
  padding: 20px 0;
}

 /*
*************************************
        | section Blog
*************************************
*/

.blog h2{
  margin-bottom: 20px;
}
.blog-img{
  overflow: hidden;
  height: 100%;
  position: relative;
}

.blog-img img{
  height: 100%;
  object-fit: contain;
  
}

.blog-text{
  height: 100%;
  padding: 0;
  background: $orange-primary;
  position: relative;
}
.eyelash::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top:40%;
  right: -25px;
  background:$orange-primary;
  z-index: 1;
  transform: rotate(45deg)
}

.blog-text p{
  padding: 10px 50px;
  font-size: 0.941rem;
  line-height: 2;
  color: $white-egg;
}
.blog-text p:first-child {
  padding-top: 50px;
}
.blog-text h3,a{
  padding: 0px 50px;
  color: $white-egg;
}

/*
*************************************
        | section contact
*************************************
*/
.contact h3{
  color: $orange-primary;
  margin-bottom: 20px;
}
.contact p{
  margin-bottom: 40px;
}
.data-contact{
  width: 96%;
  height: 100%;
  background: $white-egg;
  margin: 0px 30px;
  padding: 80px;
}
.form-contact{
  width: 90%;
  height: 100%;
  background: $white-egg;
  padding: 80px;
}


  /*
*************************************
        | RESPOSIVE
*************************************
*/
@media screen and (max-width:480px){
  h1 {
    font-size: 2.143rem;
    line-height: 2.5rem;
    letter-spacing: 0.4rem;
  }

  h3 {
    font-size: 1.0rem;
    line-height: 2.5rem;
  }
  .text-home p {
    font-size: 0.7rem;
}
.scrooldown {
  right: 45%;
  bottom: -10px;
}

.img-porfolio img{
  width: 80%;
  height: 330px;
}

}

@media screen and (max-width:780px){
  .img-porfolio img{
    width: 50%;
    height: 330px;
  }
  
}