/*
*************************************
        | COLORS
*************************************
*/
:root {
    --gray-light: #f4f5f9;
   
    --white-egg: #F5F5F5;
    --white: #fff;
  }
    
  $gray-primary: #6a6a6a;
  $orange-primary: #e74c3c;

  /*
*************************************
        | HEADER
*************************************
*/
.header-area .main-menu,
.header-area .main-menu, .dropdown-menu {
  //background: $gray-primary;
  box-shadow: 0 3px 16 0 rgba(0, 0, 0, .1);
}
.header-area .main-menu .navbar {
  height: 70px;
}
.header-area .main-menu .navbar .nav-link{
  font-size: 14px;
  color: var(--white-egg);
  padding: 20px;
}
.header-area .main-menu .navbar .nav-link:hover {
    font-weight: 600;
    color: $orange-primary;
    box-shadow: 0 -1px inset;   
}

.header-area .main-menu .navbar .nav-link:hover {
    font-weight: 600;
    color: $orange-primary;
    box-shadow: 0 -1px inset;   
}


.logo{
    position: relative;
    border: 1px solid var(--white-egg);
    font-size: 25px;
    color: var(--white-egg);
    padding: 8px;
    box-shadow: 35px 0px inset;
}
header p {
    line-height: 90%;
    margin-top: 0;
    margin-bottom: 0rem;
    letter-spacing: 7px;
    color: black;
    //font-weight: 600;
}

header span{
    color: var(--white-egg);
}