* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/*
*************************************
        | Colores
*************************************
*/
/*
*************************************
        | utilities
*************************************
*/
.separador1 {
  width: 50px;
  height: 2px;
  background: #ff8b38;
  margin: 20px 0;
}

/*
*************************************
        | Nav
*************************************
*/
nav {
  overflow: hidden;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: black;
}

.logo {
  height: 100%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 100px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}

.nav-links a:hover {
  color: #ff8b38;
  text-decoration: none;
  position: relative;
}

.nav-links a:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ff8b38;
  bottom: -10px;
}

.burguer {
  cursor: pointer;
  display: none;
}

.burguer div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/*
*************************************
        | Banner
*************************************
*/
.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.parallax-content {
  position: absolute;
  top: 10%;
  left: 15%;
  color: #fff;
  line-height: 2.5;
}

.parallax-content img,
.parallax-content p {
  margin-bottom: 30px;
}

.parallax-content .btn {
  color: #fff;
  border: 1px solid #fff;
}

.parallax-content .btn:hover {
  color: #ff8b38;
  border: 1px solid #ff8b38;
}

/*
*************************************
        | Features
*************************************
*/
.features {
  margin-top: 70px;
}

.features .separador1 {
  margin: 20px auto;
}

.icon-feature {
  width: 70px;
  height: 70px;
  border: 1px solid #ff8b38;
  margin: 30px auto;
  border-radius: 50%;
  line-height: 70px;
  color: #ff8b38;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-feature:hover {
  -webkit-box-shadow: 0px 3px 20px #ff8b38;
          box-shadow: 0px 3px 20px #ff8b38;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*
*************************************
        | Princing
*************************************
*/
.princing {
  background: whitesmoke;
  padding-top: 70px;
  margin-top: 30px;
}

.separador1 {
  margin: 20px auto;
}

.princing .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card {
  width: 19rem;
  margin: 20px auto 70px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.princing span {
  font-size: 40px;
}

.princing li:nth-child(-n+3) {
  background: black;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.princing li:nth-child(4) {
  background: #ff8b38;
  color: #fff;
}

.princing li:nth-child(5) {
  line-height: 40px;
}

/*
*************************************
        | Services
*************************************
*/
.services {
  background-image: url(../imagenes/fondo2.jpg);
  color: #fff;
  height: 320px;
  padding-top: 70px;
}

.services .btn {
  margin-top: 30px;
  color: #fff;
  border: 1px solid #fff;
}

.services .btn:hover {
  color: #ff8b38;
  border: 1px solid #ff8b38;
}

/*
*************************************
        | Contact
*************************************
*/
.contact {
  margin-top: 70px;
}

.name {
  width: 100%;
  position: relative;
  height: 60px;
}

.name input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}

.name label {
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ff8b38;
}

.name label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid #ff8b38;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.name input:focus + .label-name .content-name,
.name input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #ff8b38;
}

.name input:focus + .label-name::after,
.name input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: 100%;
}

.email {
  width: 100%;
  position: relative;
  height: 60px;
}

.email input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}

.email label {
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ff8b38;
}

.email label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid #ff8b38;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.email input:focus + .label-email .content-email,
.email input:valid + .label-email .content-email {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #ff8b38;
}

.email input:focus + .label-email::after,
.email input:valid + .label-email::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: 100%;
}

.subjet {
  width: 100%;
  position: relative;
  height: 60px;
}

.subjet input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}

.subjet label {
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ff8b38;
}

.subjet label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid #ff8b38;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-subjet {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subjet input:focus + .label-subjet .content-subjet,
.subjet input:valid + .label-subjet .content-subjet {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #ff8b38;
}

.subjet input:focus + .label-subjet::after,
.subjet input:valid + .label-subjet::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: 100%;
}

.message {
  width: 100%;
  position: relative;
  height: 180px;
}

.message textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}

.message label {
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ff8b38;
}

.message label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid #ff8b38;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-message {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.message textarea:focus + .label-message .content-message,
.message textarea:valid + .label-message .content-message {
  -webkit-transform: translateY(-750%);
          transform: translateY(-750%);
  font-size: 14px;
  color: #ff8b38;
}

.message textarea:focus + .label-message::after,
.message textarea:valid + .label-message::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: 100%;
}

.contact a {
  margin-top: 30px;
  margin-bottom: 70px;
  color: #fff;
  background-color: #ff8b38;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact a:hover {
  color: whitesmoke;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/*
*************************************
        | Footer
*************************************
*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: #fff;
}

.footer a {
  color: #fff;
  font-size: 20px;
  margin: 10px 20px;
  cursor: pointer;
}

.footer a:hover {
  color: #ff8b38;
}

.footer p {
  font-size: small;
}

/*
*************************************
        | RESPOSIVE
*************************************
*/
@media screen and (max-width: 480px) {
  .parallax-content img {
    display: none;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }
  .parallax-content h1 {
    font-size: 1.9rem;
  }
  .parallax-content p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 780px) {
  nav {
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 90vh;
    width: 100%;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 10;
  }
  .burguer {
    display: block;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .parallax-content h1 {
    font-size: 2.0rem;
  }
  .parallax-content p {
    font-size: 0.85rem;
  }
}
/*# sourceMappingURL=style.css.map */