*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/*
*************************************
        | Colores
*************************************
*/
$black-primary: rgb(0, 0, 0);
$white-primary: #fff;
$orage-primary: rgb(255,139,56);
$white-egg:  rgb(245,245,245);



/*
*************************************
        | utilities
*************************************
*/
.separador1{
    width: 50px;
    height: 2px;
    background: $orage-primary;
    margin: 20px 0;
}


/*
*************************************
        | Nav
*************************************
*/
nav{
    overflow: hidden;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: $black-primary;
}
.logo{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color:$white-primary;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.nav-links a:hover{
    color: $orage-primary;
    text-decoration: none;
    position: relative;
}
.nav-links a:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $orage-primary;
    bottom: -10px;
}
.burguer{
    cursor: pointer;
    display: none;
}

.burguer div{
    width: 25px;
    height: 3px;
    background-color: $white-primary;
    margin: 5px;
    transition: all 0.5s ease;
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/*
*************************************
        | Banner
*************************************
*/
.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.parallax-content{
    position: absolute;
    top: 10%;
    left: 15%;
    color: $white-primary;
    line-height: 2.5;
}

.parallax-content img,
.parallax-content p {
    margin-bottom: 30px;
}

.parallax-content .btn{
    color :$white-primary;
    border: 1px solid $white-primary;
}

.parallax-content .btn:hover{
    color: $orage-primary;
    border: 1px solid $orage-primary;
}
.banner .separador1{
  margin: 20px 0; 
}
/*
*************************************
        | Features
*************************************
*/
.features{
    margin-top: 70px;
}
.features .separador1{
    margin: 20px auto;
}
.icon-feature{
    width: 70px;
    height: 70px;
    border: 1px solid $orage-primary;
    margin: 30px auto;
    border-radius: 50%;
    line-height: 70px;
    color: $orage-primary;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.icon-feature:hover{
    box-shadow:  0px 3px 20px $orage-primary;
    transform: scale(1.05)
}

/*
*************************************
        | Princing
*************************************
*/

.princing{
    background: $white-egg;
    padding-top: 70px;
    margin-top: 30px;

}
.separador1{
    margin: 20px auto;
}
.princing .row{
    align-items: flex-end;
}
.card{
    width: 19rem;
    margin: 20px auto 70px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:  10px 20px 40px rgba($black-primary, 0.3);
    transition: all 0.5s ease;
}
.card:hover{
    transform: scale(1.01);
}
.princing span{
    font-size: 40px;
}
.princing li:nth-child(-n+3){
    background: $black-primary;
    color: $white-primary;
    border-bottom: 2px solid $white-primary;
}
.princing li:nth-child(4){
    background: $orage-primary;
    color: $white-primary;
}
.princing li:nth-child(5){
    line-height: 40px;
}
/*
*************************************
        | Services
*************************************
*/
.services{
    background-image: url(../imagenes/fondo2.jpg); 
    color: $white-primary;
    height: 320px;
    padding-top: 70px;
}
.services .btn{
    margin-top: 30px;
    color :$white-primary;
    border: 1px solid $white-primary;
}

.services .btn:hover{
    color: $orage-primary;
    border: 1px solid $orage-primary;

}

 
/*
*************************************
        | Contact
*************************************
*/
.contact{
  margin-top: 70px;
}

// input name
.name {
  width: 100%;
  position: relative;
  height: 60px;
}
.name input{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}
.name label{
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%; 
  //color: $orage-primary;
  pointer-events: none;
  border-bottom: 1px solid $orage-primary;
}
.name label::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid $orage-primary;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.content-name{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.name input:focus + .label-name .content-name,
.name input:valid + .label-name .content-name{
  transform: translateY(-150%);
  font-size: 14px;
  color: $orage-primary;
}

.name input:focus + .label-name::after,
.name input:valid + .label-name::after{
  transform: translateX(0%);
  width: 100%;
}

// input Email
.email {
  width: 100%;
  position: relative;
  height: 60px;
}
.email input{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}
.email label{
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  //color: $orage-primary;
  pointer-events: none;
  border-bottom: 1px solid $orage-primary;
}
.email label::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid $orage-primary;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.content-email{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.email input:focus + .label-email .content-email,
.email input:valid + .label-email .content-email{
  transform: translateY(-150%);
  font-size: 14px;
  color: $orage-primary;
}

.email input:focus + .label-email::after,
.email input:valid + .label-email::after{
  transform: translateX(0%);
  width: 100%;
}

// input subjet
.subjet {
  width: 100%;
  position: relative;
  height: 60px;
}
.subjet input{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}
.subjet label{
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  //color: $orage-primary;
  pointer-events: none;
  border-bottom: 1px solid $orage-primary;
}
.subjet label::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid $orage-primary;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.content-subjet{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.subjet input:focus + .label-subjet .content-subjet,
.subjet input:valid + .label-subjet .content-subjet{
  transform: translateY(-150%);
  font-size: 14px;
  color: $orage-primary;
}

.subjet input:focus + .label-subjet::after,
.subjet input:valid + .label-subjet::after{
  transform: translateX(0%);
  width: 100%;
}

// input message
.message {
  width: 100%;
  position: relative;
  height: 180px;
}
.message textarea{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  outline: none;
}
.message label{
  position: relative;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  //color: $orage-primary;
  pointer-events: none;
  border-bottom: 1px solid $orage-primary;
}
.message label::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid $orage-primary;
  transform: translateX(0%);
  transition: all 0.5s ease;
}
.content-message{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.5s ease;
}

.message textarea:focus + .label-message .content-message,
.message textarea:valid + .label-message .content-message{
  transform: translateY(-750%);
  font-size: 14px;
  color: $orage-primary;
}

.message textarea:focus + .label-message::after,
.message textarea:valid + .label-message::after{
  transform: translateX(0%);
  width: 100%;
}

// bottom 
.contact a{
  margin-top: 30px;
  margin-bottom: 70px;
  color: $white-primary;
  background-color: $orage-primary;
  transition: all 0.5s ease;
}
.contact a:hover{
  color: $white-egg;
  transform: scale(1.02);
}

/*
*************************************
        | Footer
*************************************
*/

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $black-primary;
  color: $white-primary;
}

.footer a{
  color: $white-primary;
  font-size: 20px;
  margin: 10px 20px;
  cursor: pointer;
}
.footer a:hover{
  color: $orage-primary;
}
.footer p{
  font-size: small;
}

/*
*************************************
        | RESPOSIVE
*************************************
*/
@media screen and (max-width:480px){

    //Banner
    .parallax-content img{
        display: none;
        transition: all 0.9s ease;
    }
    .parallax-content h1{
        font-size: 1.9rem;
    }
    .parallax-content p{
        font-size: 0.8rem;
    }

}

@media screen and (max-width:780px){
    
    // nav-bar
    nav{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 90vh;
        width: 100%;
        top: 10vh;
        background-color: rgba($black-primary, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }
    .burguer{
        display: block;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-active{
        transform: translateX(0%);
    }
    

    //Banner
   
    .parallax-content h1{
        font-size: 2.0rem;
    }
    .parallax-content p{
        font-size: 0.85rem;
    }


}
