* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fffde7;
    transition: all 0.7s ease;
    font-family: sans-serif;
    
}

nav{
    background:#ccc9b5;
    height: 70px; 
    width: 100%;
}

.nav-items{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    margin-left: 30%;
}

.nav-items i {
    font-size: 50px;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%) rotate(0);
    animation: loading 1s linear;
    
}


@keyframes loading{
    from{
       
        transform: translate(-50%) rotate(0deg);
    }
   
    to{
       
        transform: translate(-50%) rotate(1440deg);
    }
}

.landing{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    margin-left: auto;
    margin-right: auto;
}
.landing-description{
    margin-bottom: 25px;
}
.landing-all{
    
    
}
.content{
    max-width: 600px;
    padding: 30px;
    cursor: pointer;
    margin-bottom: 20px;        
    background: #919192;
    border-radius: 5px;
}

.content-description{
    display: flex;
   
}

.content-description i{
    font-size: 50px;
    margin-right: 50px;
    
}
.content-description img{
    width: 150px !important;
    height: 150px;
    margin: 0 20px 30px;
}
.content h4,
.content a {
    margin: 10px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}

.content a:visited{
    text-decoration: none;
    color: black;
}

.fade
{
        opacity:0.7;
        transform: scale(1);
        transition: all 0.5s;
}
.fade:hover
{
        opacity:1;
       
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.5s;
}


@media screen and (max-width:480px){
    .content-description{
        flex-wrap: wrap-reverse;
        display: flex;
       
    }
    .content-description img{
        width: 150px;
        height: 100px;
        margin: 0 auto;
    }
    .content h4 {
    text-align: center;
    margin: 20px;
    line-height: 1.5;
    text-decoration: none;
    color: black;   
    }
.landing-all{
    max-width: 380px;
    padding: 30px;
}

.nav-items i {
    font-size: 50px;
    position: absolute;
    left: 70%;
    transform: translateX(-50%) rotate(0);
    animation: loading 1s linear;
}

} 

