/*.......::: Icons :::.......*/
/*-------------------------------*/

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-check:before {

    content: "\66";
    position: absolute;
    text-align: center;
    line-height: 1.5;
    border-radius: 50%;
    font-size: 30px;
    right: 0;
    color: $color-blanco;
    width: 36px;
    height: 36px;
    background: $color-verde;
    left: 0;
    top: 0;
    margin: 24px auto;

}