body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  display: flex;
  margin-top: 0;
  justify-content: center;
  color: #fff;
  background: #3671bf;
}

.container{
  display: flex;
  justify-content: space-between;
  background: #52a5d9;
}
.item{
  background: #3671bf;
  line-height: 4;
  padding: 0 2em;
  margin: 1em;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.item:before {
  content:"";
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;

  bottom: 0;
  transition: all 0.3s;
}
.item:hover:before{
  width: 100%;
}

.uno::before{
  left: 0;
}

.dos::before{
  right: 0;
}

.tres::before{
  left: 50%;
}

.tres:hover::before{
  left: 0;
}

/* ------------++++++++--------- */

.cuatro{
  box-sizing: border-box;
  width: 250px;
  height: 300px;
  margin: 2em auto;
  background: #294d6b;
  color: #eee;
  font-size: 2.3em;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 2px #1b3246;
  position: relative;
  cursor: pointer;
}

.cuatro:before,
.cuatro:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.cuatro:before {
  height: 4px;
  width: 0;
  bottom: 0;
  box-shadow: 250px -296px rgba(255, 255, 255, 0.5);
}

.cuatro:after {
  top: 0;
  width: 4px;
  height: 0;
  box-shadow: 246px 300px rgba(255, 255, 255, 0.5);
}

.cuatro:hover:after {
  height: 100%;
  box-shadow: 246px 0 rgba(255, 255, 255, 0.5);
}

.cuatro:hover:before {
  width: 100%;
  box-shadow: 0 -296px rgba(255, 255, 255, 0.5);
}

/* ------------++++++++--------- */

.boton {
  width: 10em;
  display: inline-block;
  margin-left: 6em;
  text-align: center;

  background: teal;
  line-height: 3em;
  padding: 0 1.5em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.boton:hover {
  background: #006667;
}

.boton:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

/* ------+++++++++++--------------- */

.boton2 {
  margin-left: 20px;
  box-sizing: border-box;
  background: linear-gradient(green, #006100);
  border: 1px solid #004d00;
  border-bottom-width: 4px;
  border-radius: .3em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
  color: #fff;
  display: inline-block;
  line-height: 2.8em;
  height: 3em;
  padding: 0 1.5em;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  cursor: pointer;
}

.boton2:hover {
  background: #006100;
  cursor: pointer;
}

.boton2:active {
  border-bottom-width: 1px;
  line-height: 3em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
