*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  transition: all 0.7s ease;
  font-family: sans-serif;
}
nav{
  background-color: #2186c3;
  height: 70px;
  width: 100%;
}
.nav-items{
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.nav-items i{
  font-size: 50px;
}

.landing{
  margin-left: auto;
  margin-right: auto;
}

.landing-description{
  
  color: #2186c3;
  padding: 20px;

}


.landing-items{
 
  display: flex;
  width: 100%;
  flex-direction: column;
 align-items: center;
 
}
.landing-items a {
  color: #64b5f5;
  text-decoration: none;
}


.landing-all{
  max-width: 600px;
  padding: 30px;
}
.content{
  cursor: pointer;
  margin-bottom: 20px;        
  background: #64b5f5;
  border-radius: 5px;
}

.content-description{
  display: flex;
}

.content-description i{
  font-size: 50px;
  margin-right: 50px;
}
.content h4,
.content a {
  margin: 10px;
  line-height: 1.5;
  text-decoration: none;
  color: white;
}

.content a:visited{
  text-decoration: none;
  color: white;
}

.fade
{
      opacity:0.7;
      transform: scale(1);
      transition: all 0.5s;
}
.fade:hover
{
      opacity:1;
     
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 0.5s;
}